.container{
    margin-inline:auto;
    display: flex;
    width: 400px;
    height: 400px;
    background-color: green;
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
    /* flex-direction: column; */
    
}
.container > .element-red{
    flex: 1 1 20%;
    background-color: red;
    width: 20px;
    height: 20px;
}
.container > .element-blue{
    flex: 1 1 10%;
    background-color: blue;
    width: 20px;
    height: 20px;
}
.container > .element-yellow{
    flex: 1 1 10%;
    background-color: yellow;
    width: 20px;
    height: 20px;
}