*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns:  3.125% 3.125% 6.25% 12.5% 25% 50%;
    grid-template-rows: 50% 25% 12.5% 6.25% 6.25% ;
    background-color: #7e667a;
    font-size: 30px;
    color:rgb(0, 0, 0);
    div{
        color:white;
        font-size: 30px;
        font-weight: bold;
    }
    // padding: 10px;
    .speakers{
        display: grid;
        grid-column: 1/span 5;
        grid-row: 1;
        background-color: #6500F4;
        align-items: center;
        justify-content: center;
        
    }
    .schedule{
        grid-column: 6;
        grid-row: 1/span 5;
        background-color: #FDD350;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sponsors{
        grid-column: 1/span 4;
        grid-row: 2/span 1;
        align-items: center;
        justify-content: center;
        display: flex;

        background-color: #00E3EA;
    }
    .ticket{
        display: flex;

        align-items: center;
        justify-content: center;
        grid-column: 5;
        grid-row: 2/span 4;
        background-color: #EE0314;
    }
    .home{
        display: flex;

        align-items: center;
        justify-content: center;
        grid-column: 1/span 3;
        grid-row: 3;
        background-color: #FDD54D;
    }
    .venue{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 4;
        grid-row: 3/ span 3;
        background-color: #00B852;
    }
    .close{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 1/span 2;
        grid-row: 4;
        background-color: #312D29;
    }
    .right-close{
        
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 3;
        grid-row: 4/span 2;
        background-color: #6500F5;
    }
    .under-close-1{
        
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 1;
        grid-row: 5;
        background-color: #FDD350;
    }
    .under-close-2{align-items: center;
        
        display: flex;
        justify-content: center;
        grid-column: 2;
        grid-row: 5;
        background-color: #EE0314;
    }
    transition: all 0.5s ease;
    @media screen and (max-width: 1024px) {
        
        transition: all 0.5s ease;
        grid-template-columns:  3.125% 3.125% 6.25% 12.5% 25% 50%;
        grid-template-rows: 30% 51% 10.5% 4.25% 4.25% ;
        .sponsors{
            
            grid-column:4/span 2;
            grid-row: 3/span 3;
        }
        .ticket{
            grid-column: 1/span 4;
            grid-row: 2;
        }
        .venue{
            grid-column: 5;
            grid-row: 2;
        }
        .close{
            grid-column: 1/span 3;
            grid-row: 4/span 2;
        }
        .right-close,.under-close-1,.under-close-2{
            display:none;
        }


        
        
    }
    
}